<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shakespared</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

</head>
<body>
  <div class="ui container" >
    <div style="margin-top: 5rem;">
      <h3 class="ui center" >Shakespared!</h3>
    </div>
    <div style="margin-top: 3rem;">
      <div class="ui action input">
        <input type="text" placeholder="Search..." id="inputField">
        <button class="ui button" id="searchBtn">Search</button>
      </div>

      <div class="ui divided list" id="lists" style="margin-bottom: 10rem;">
      </div>         
    </div>
  </div>

  <script src="index.js"></script>
</body>
</html>